
<mat-card>
    <mat-card-content>
    <mat-card-title>Create New User</mat-card-title>
<form [formGroup]="addUserForm" (submit)="createUser()">
<p>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Job</mat-label>
      <input matInput placeholder="Job" formControlName = "job">
    </mat-form-field>
  </p>
  <p>
    <button mat-raised-button color="primary">Create User</button>
  </p>
</form>
</mat-card-content>
</mat-card>